<%= render 'admin/shared/heading', name: 'ავტორები' %>

<main>
  <div class="mx-auto max-w-screen-2xl sm:px-6 lg:px-8">
    <% crumbs = [] %>
    <% crumbs << { name: 'ავტორები', url: admin_authors_path } %>

    <%= render 'admin/shared/breadcrumbs', crumbs: crumbs %>

    <%= render 'admin/shared/new_button', name: 'ახალი ავტორის დამატება', url: new_admin_author_path %>

    <%= render 'admin/shared/paging', records: @authors, url_method: -> (**params){ admin_authors_path(**params) }, paging_params: {}.merge(@search.attributes) %>
    <div class="px-4 sm:px-6 lg:px-8">
      <div class="flow-root">
        <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8">
          <div data-controller="search-highlight" class="inline-block min-w-full py-2 align-middle">
            <%= form_for @search, url: admin_authors_path, method: :get do |form| %>
              <table class="w-full border-separate border-spacing-0 border-gray-300">
                <thead>

                  <%= render 'admin/shared/table/header',
                             columns: [{ name: 'UID' },
                                       { name: 'სახელი და გვარი ქართულად', classes: 'max-w-[240px]' },
                                       { name: 'სახელი და გვარი ინგლისურად', classes: 'max-w-[240px]' },
                                       { name: '' }] %>

                  <%= render 'admin/shared/table/filter',
                             form: form,
                             columns: [{ name: :id, classes: 'max-w-[60px]', input_type: :text_field, input_classes: 'px-2' },
                                       { name: :name_ka, classes: 'max-w-[240px]', input_type: :text_field },
                                       { name: :name_en, classes: 'max-w-[240px]', input_type: :text_field },
                                       { input_type: :submit, classes: 'py-2 text-left text-sm text-gray-500' }] %>


                </thead>
                <tbody data-search-highlight-target="body">
                  <% @authors.each_with_index do |author, index| %>
                    <%= render 'admin/shared/table/simple_row',
                               record: author,
                               index: index,
                               columns: { uid: true,
                                          edit_url_method: -> (**params){ edit_admin_author_path(**params) },
                                          edit_url_params: { id: author.id },
                                          delete_url_method: -> (record){ admin_author_path(record) },
                                          delete_redirect_url_method: admin_authors_path,
                                          delete_modal_title: 'გსურთ ავტორის წაშლა?',
                                          delete_modal_text: 'ეს ავტორი წაიშლება სრულად',
                                          name_ka: true,
                                          name_en: true,
                                          edit: true,
                                          delete: true } %>

                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'admin/shared/paging', records: @authors, url_method: -> (**params){ admin_authors_path(**params) }, paging_params: {}.merge(@search.attributes) %>

    <%= render 'admin/shared/confirm_delete_modal', modal_title: 'გსურთ ავტორის წაშლა?',
                                                      modal_text: 'ეს ავტორი წაიშლება სრულად' %>
  </div>
</main>
