<div data-controller="search-highlight" data-search-highlight-full-word-match-value="true">

  <div class="max-w-screen-2xl mx-auto flex grid grid-flow-col grid-cols-6 space-x-4">

    <div class="mt-4 flex col-span-2">
      <%= form_tag(advanced_search_text_blocks_path, method: 'get') do %>
        <div class="sticky z-20 top-44 py-4 px-4 flex grid grid-flow-row space-y-4 bg-stone-200">
          <div data-search-highlight-target="searchbar" class="inline-flex">
            <%= text_field_tag :query, params[:query], class: "border-stone-400 focus:ring-oceanside-500 focus:border-oceanside-500" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="flex col-span-4">

      <div class="flex grid grid-flow-row">

        <div class="sticky z-20 top-40 py-4 inline-flex text-gray-400 text-sm items-center bg-gray-100">
          <%= @text_block_pairs.total_count %> შედეგი
        </div>

        <div data-search-highlight-target="body" class="flex grid grid-flow-row space-y-3">
          <%= render 'shared/search_results', text_block_pairs: @text_block_pairs %>
        </div>
        <div class="flex items-center justify-between py-3">
          <%= render 'shared/paging', records: @text_block_pairs, url_method: -> (**params){ advanced_search_text_blocks_path(**params) }, paging_params: { query: params[:query] } %>
        </div>
      </div>
    </div>

  </div>

</div>
