<div class="mt-30 h-full w-screen-2xl flex grid grid-flow-row items-center justify-center">
  <div class="flex justify-center">
    <%= render 'shared/logo_lg' %>
  </div>
  <div class="mt-10 flex justify-center">
    <%= render 'shared/search_bar' %>
  </div>
  <div class="mt-5 flex justify-center">
    <p class="text-gray-500 text-sm"><%= t('statistics.groups') %>: <%= @result[:groups] %>, <%= t('statistics.collections') %>: <%= @result[:collections] %>, <%= t('statistics.text_pairs') %>: <%= @result[:pairs] %>, <%= t('statistics.word_forms') %>: <%= @result[:words][:ka] %> / <%= @result[:words][:en] %></p>
  </div>
</div>
