<%= form_with model: [:admin, @collection], url: url, method: method do |form| %>

  <div class="mt-8 flex justify-stretch grid grid-cols-3 grid-flow-col max-w-3xl rounded-t-md ring-2 ring-mountbatten-500">
    <div class="bg-mountbatten-100 px-3 col-span-1 rounded-tl-md space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:py-3">
        <%= form.label :supergroup_id, 'ქვეკორპუსი', class: "block text-sm font-medium leading-6 text-gray-900 sm:py-1.5" %>
      </div>
    </div>
    <div class="bg-mountbatten-100 px-3 rounded-tr-md col-span-2 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:items-start sm:divide-x sm:gap-4 sm:py-3 w-full">
        <div class="mt-2 sm:mt-0 w-full">
          <%= form.collection_select :supergroup_id, Supergroup.all, :id, :name_ka, { selected: @collection.group&.supergroup_id, inlcude_blank: true }, { disabled: true, class: "bg-gray-50 border border-mountbatten-300 text-gray-900 text-sm rounded-md focus:ring-oceanside-500 focus:border-oceanside-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-oceanside-500 dark:focus:border-oceanside-500" } %>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-0.5 flex justify-stretch grid grid-cols-3 grid-flow-col max-w-3xl ring-2 ring-mountbatten-500">
    <div class="bg-mountbatten-100 px-3 col-span-1 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:py-3">
        <%= form.label :group_id, 'ჯგუფი', class: "block text-sm font-medium leading-6 text-gray-900 sm:py-1.5" %>
      </div>
    </div>
    <div class="bg-mountbatten-100 px-3 col-span-2 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:items-start sm:divide-x sm:gap-4 sm:py-3 w-full">
        <div class="mt-2 sm:mt-0 w-full">
          <%= form.collection_select :group_id,
                                     Group.ordered,
                                     :id,
                                     :name_ka,
                                     { selected: @collection.group&.id, inlcude_blank: true },
                                     { required: true, data: { controller: 'multi-select' } } %>
          <!-- <%= form.collection_select :group_id, Group.all, :id, :name_ka, { selected: @collection.group&.id, inlcude_blank: true }, { required: true, class: "bg-gray-50 border border-mountbatten-300 text-gray-900 text-sm rounded-md focus:ring-oceanside-500 focus:border-oceanside-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-oceanside-500 dark:focus:border-oceanside-500" } %> -->
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-stretch grid grid-cols-3 grid-flow-col max-w-3xl">
    <div class="bg-mountbatten-100 px-3 col-span-1 ring-2 ring-mountbatten-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:py-3">
        <%= form.label :name_ka, 'სახელი (ka)', class: "block text-sm font-medium leading-6 text-gray-900 sm:py-1.5" %>
      </div>
    </div>
    <div class="bg-gray-100 px-3 col-span-2 ring-2 ring-gray-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:items-start sm:divide-x sm:gap-4 sm:py-3 w-full">
        <div class="mt-2 sm:mt-0 w-full">
          <%= form.text_field :name_ka, required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-oceanside-500 focus:border-oceanside-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-oceanside-500 dark:focus:border-oceanside-500" %>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-stretch grid grid-cols-3 grid-flow-col max-w-3xl">
    <div class="bg-mountbatten-100 px-3 col-span-1 ring-2 ring-mountbatten-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:py-3">
        <%= form.label :name_en, 'სახელი (en)', class: "block text-sm font-medium leading-6 text-gray-900 sm:py-1.5" %>
      </div>
    </div>
    <div class="bg-gray-100 px-3 col-span-2 ring-2 ring-gray-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:items-start sm:divide-x sm:gap-4 sm:py-3 w-full">
        <div class="mt-2 sm:mt-0 w-full">
          <%= form.text_field :name_en, required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-oceanside-500 focus:border-oceanside-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-oceanside-500 dark:focus:border-oceanside-500" %>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-stretch grid grid-cols-3 grid-flow-col max-w-3xl">
    <div class="bg-mountbatten-100 px-3 col-span-1 ring-2 ring-mountbatten-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:py-3">
        <%= form.label :author_ids, 'ავტორები', class: "block text-sm font-medium leading-6 text-gray-900 sm:py-1.5" %>
      </div>
    </div>
    <div class="bg-gray-100 px-3 col-span-2 ring-2 ring-gray-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:items-start sm:divide-x sm:gap-4 sm:py-3 w-full">
        <div class="mt-2 sm:mt-0 w-full">
          <%= form.collection_select :author_ids,
                                     Author.ordered,
                                     :id,
                                     :name_ka,
                                     { selected: @collection.author_ids, inlcude_blank: true },
                                     { multiple: true, data: { controller: 'multi-select' } } %>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-stretch grid grid-cols-3 grid-flow-col max-w-3xl">
    <div class="bg-mountbatten-100 px-3 col-span-1 ring-2 ring-mountbatten-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:py-3">
        <%= form.label :translator_ids, 'მთარგმნელები', class: "block text-sm font-medium leading-6 text-gray-900 sm:py-1.5" %>
      </div>
    </div>
    <div class="bg-gray-100 px-3 col-span-2 ring-2 ring-gray-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:items-start sm:divide-x sm:gap-4 sm:py-3 w-full">
        <div class="mt-2 sm:mt-0 w-full">
          <%= form.collection_select :translator_ids,
                                     Translator.ordered,
                                     :id,
                                     :name_ka,
                                     { selected: @collection.translator_ids, inlcude_blank: true },
                                     { multiple: true, data: { controller: 'multi-select' } } %>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-stretch grid grid-cols-3 grid-flow-col max-w-3xl">
    <div class="bg-mountbatten-100 px-3 col-span-1 ring-2 ring-mountbatten-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:py-3">
        <%= form.label :type_ids, 'ტიპები', class: "block text-sm font-medium leading-6 text-gray-900 sm:py-1.5" %>
      </div>
    </div>
    <div class="bg-gray-100 px-3 col-span-2 ring-2 ring-gray-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:items-start sm:divide-x sm:gap-4 sm:py-3 w-full">
        <div class="mt-2 sm:mt-0 w-full">
          <%= form.collection_select :type_ids,
                                     Type.ordered,
                                     :id,
                                     :name_ka,
                                     { selected: @collection.type_ids, inlcude_blank: true },
                                     { multiple: true, data: { controller: 'multi-select' } } %>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-stretch grid grid-cols-3 grid-flow-col max-w-3xl">
    <div class="bg-mountbatten-100 px-3 col-span-1 ring-2 ring-mountbatten-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:py-3">
        <%= form.label :field_ids, 'დარგები', class: "block text-sm font-medium leading-6 text-gray-900 sm:py-1.5" %>
      </div>
    </div>
    <div class="bg-gray-100 px-3 col-span-2 ring-2 ring-gray-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:items-start sm:divide-x sm:gap-4 sm:py-3 w-full">
        <div class="mt-2 sm:mt-0 w-full">
          <%= form.collection_select :field_ids,
                                     Field.ordered,
                                     :id,
                                     :name_ka,
                                     { selected: @collection.field_ids, inlcude_blank: true },
                                     { multiple: true, data: { controller: 'multi-select' } } %>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-stretch grid grid-cols-3 grid-flow-col max-w-3xl">
    <div class="bg-mountbatten-100 px-3 col-span-1 ring-2 ring-mountbatten-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:py-3">
        <%= form.label :genre_ids, 'ჟანრები', class: "block text-sm font-medium leading-6 text-gray-900 sm:py-1.5" %>
      </div>
    </div>
    <div class="bg-gray-100 px-3 col-span-2 ring-2 ring-gray-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:items-start sm:divide-x sm:gap-4 sm:py-3 w-full">
        <div class="mt-2 sm:mt-0 w-full">
          <%= form.collection_select :genre_ids,
                                     Genre.ordered,
                                     :id,
                                     :name_ka,
                                     { selected: @collection.genre_ids, inlcude_blank: true },
                                     { multiple: true, data: { controller: 'multi-select' } } %>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-stretch grid grid-cols-3 grid-flow-col max-w-3xl">
    <div class="bg-mountbatten-100 px-3 col-span-1 ring-2 ring-mountbatten-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:py-3">
        <%= form.label :publishing_ids, 'გამომცემლობები', class: "block text-sm font-medium leading-6 text-gray-900 sm:py-1.5" %>
      </div>
    </div>
    <div class="bg-gray-100 px-3 col-span-2 ring-2 ring-gray-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:items-start sm:divide-x sm:gap-4 sm:py-3 w-full">
        <div class="mt-2 sm:mt-0 w-full">
          <%= form.collection_select :publishing_ids,
                                     Publishing.ordered,
                                     :id,
                                     :name_ka,
                                     { selected: @collection.publishing_ids, inlcude_blank: true },
                                     { multiple: true, data: { controller: 'multi-select' } } %>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-stretch grid grid-cols-3 grid-flow-col max-w-3xl">
    <div class="bg-mountbatten-100 px-3 col-span-1 ring-2 ring-mountbatten-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:py-3">
        <%= form.label :year, 'გამოცემის წელი', class: "block text-sm font-medium leading-6 text-gray-900 sm:py-1.5" %>
      </div>
    </div>
    <div class="bg-gray-100 px-3 col-span-2 ring-2 ring-gray-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:items-start sm:divide-x sm:gap-4 sm:py-3 w-full">
        <div class="mt-2 sm:mt-0 w-full">
          <%= form.text_field :year, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-oceanside-500 focus:border-oceanside-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-oceanside-500 dark:focus:border-oceanside-500" %>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-stretch grid grid-cols-3 grid-flow-col max-w-3xl">
    <div class="bg-mountbatten-100 px-3 col-span-1 ring-2 ring-mountbatten-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:py-3">
        <%= form.label :translation_year, 'თარგმნის წელი', class: "block text-sm font-medium leading-6 text-gray-900 sm:py-1.5" %>
      </div>
    </div>
    <div class="bg-gray-100 px-3 col-span-2 ring-2 ring-gray-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:items-start sm:divide-x sm:gap-4 sm:py-3 w-full">
        <div class="mt-2 sm:mt-0 w-full">
          <%= form.text_field :translation_year, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-oceanside-500 focus:border-oceanside-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-oceanside-500 dark:focus:border-oceanside-500" %>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-stretch grid grid-cols-3 grid-flow-col max-w-3xl">
    <div class="bg-mountbatten-100 px-3 col-span-1 rounded-bl-md ring-2 ring-mountbatten-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:py-3">
        <%= form.label :original_language, 'ორიგინალის ენა', class: "block text-sm font-medium leading-6 text-gray-900 sm:py-1.5" %>
      </div>
    </div>
    <div class="bg-gray-100 px-3 rounded-br-md col-span-2 ring-2 ring-gray-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:items-start sm:divide-x sm:gap-4 sm:py-3 w-full">
        <div class="mt-2 sm:mt-0 w-full">
          <%= form.select :original_language, Collection.original_languages.keys.map { |original_language| [original_language.humanize, original_language] }, {}, { class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-oceanside-500 focus:border-oceanside-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-oceanside-500 dark:focus:border-oceanside-500" } %>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-stretch grid grid-cols-3 grid-flow-col max-w-3xl">
    <div class="bg-mountbatten-100 px-3 col-span-1 ring-2 ring-mountbatten-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:py-3">
        <%= form.label :comment, 'კომენტარი', class: "block text-sm font-medium leading-6 text-gray-900 sm:py-1.5" %>
      </div>
    </div>
    <div class="bg-gray-100 px-3 col-span-2 ring-2 ring-gray-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:items-start sm:divide-x sm:gap-4 sm:py-3 w-full">
        <div class="mt-2 sm:mt-0 w-full">
          <%= form.text_area :comment, rows: 4, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-oceanside-500 focus:border-oceanside-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-oceanside-500 dark:focus:border-oceanside-500" %>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-stretch grid grid-cols-3 grid-flow-col max-w-3xl">
    <div class="bg-mountbatten-100 px-3 col-span-1 rounded-bl-md ring-2 ring-mountbatten-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:py-3">
        <%= form.label :status, 'სტატუსი', class: "block text-sm font-medium leading-6 text-gray-900 sm:py-1.5" %>
      </div>
    </div>
    <div class="bg-gray-100 px-3 rounded-br-md col-span-2 ring-2 ring-gray-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:items-start sm:divide-x sm:gap-4 sm:py-3 w-full">
        <div class="mt-2 sm:mt-0 w-full">
          <%= form.select :status, Collection.statuses.keys.map { |status| [status.humanize, status] }, {}, { class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-oceanside-500 focus:border-oceanside-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-oceanside-500 dark:focus:border-oceanside-500" } %>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-stretch grid grid-cols-3 grid-flow-col max-w-3xl">
    <div class="bg-mountbatten-100 px-3 col-span-1 rounded-bl-md ring-2 ring-mountbatten-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:py-3">
        <%= form.label :should_unsync, 'სინქრონიზება', class: "block text-sm font-medium leading-6 text-gray-900 sm:py-1.5" %>
      </div>
    </div>
    <div class="bg-gray-100 px-3 rounded-br-md col-span-2 ring-2 ring-gray-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:items-start sm:divide-x sm:gap-4 sm:py-3">
        <div class="mt-2 sm:mt-0">
          <%= form.check_box :should_unsync, { checked: !@collection.should_unsync, class: "bg-gray-50 border border-gray-300 w-8 h-8 text-gray-900 text-sm text-mountbatten-500 rounded-md focus:ring-offset-0 focus:ring-1 focus:ring-oceanside-500 focus:border-oceanside-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-oceanside-500" }, 0, 1 %>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-6 flex justify-stretch grid grid-flow-col gap-x-6 max-w-3xl">
    <%= link_to 'უკან დაბრუნება', admin_collections_path(group_id: (@collection.persisted? ? @collection.group.id : @group&.id)), type: "button", class: "inline-flex justify-center rounded-md bg-gray-200 ring-2 ring-gray-500 px-3 py-2 text-sm font-semibold text-gray-700 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-200" %>
    <!-- <button type="button" class="inline-flex justify-center rounded-md bg-gray-200 ring-2 ring-gray-500 px-3 py-2 text-sm font-semibold text-gray-700 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-200">უარყოფა</button> -->
    <% if (current_user.admin? || current_user.superadmin?) && @collection.persisted? %>
      <button type="button"
              data-controller="delete-record"
              data-delete-record-url-value="<%= admin_collection_path(@collection) %>"
              data-delete-record-redirect-url-value="<%= admin_collections_path(group_id: @collection.group.id) %>"
              data-action="click->delete-record#submit"
              class="inline-flex justify-center rounded-md bg-gray-500 ring-2 ring-gray-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">
        წაშლა
      </button>
    <% end %>
    <button type="submit" class="inline-flex justify-center rounded-md bg-mountbatten-500 ring-2 ring-mountbatten-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-mountbatten-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-mountbatten-500">შენახვა</button>
  </div>
<% end %>
