<% text_block_pairs.each_with_index do |text_block_pair, index| %>
  <div class="inline-flex pl-5 pr-10 py-5 rounded-xl bg-white">
    <div class="flex grid grid-flow-col space-x-2 justify-items-end">
      <div class="inline-flex text-gray-400 justify-end w-6">
        <%= index + 1 + text_block_pairs.limit_value * (text_block_pairs.current_page - 1) %>.
      </div>
      <div class=inline-flex">
        <div class="flex grid grid-flow-row space-y-5">
          <div data-controller="tooltip" data-tooltip-target="cell" class="inline-flex text-gray-400">
            <%= text_block_pair.collection.group.send("name_#{I18n.locale}") %> | <%= text_block_pair.collection.send("name_#{I18n.locale}") %>
            <div data-tooltip-target="tooltip" class="absolute z-30 max-w-lg invisible block px-3 py-2 text-sm font-medium text-gray-900 bg-yellow-50 border border-gray-200 rounded-lg shadow-xl tooltip">
              <% if text_block_pair.collection.authors.any? %>
                <p>
                  <%= t('advanced_search.author') %>: <%= text_block_pair.collection.authors.map(&"name_#{I18n.locale}".to_sym).join(', ') %>
                </p>
              <% end %>
              <% if text_block_pair.collection.translators.any? %>
                <p>
                  <%= t('advanced_search.translator') %>: <%= text_block_pair.collection.translators.map(&"name_#{I18n.locale}".to_sym).join(', ') %>
                </p>
              <% end %>
              <% if text_block_pair.collection.types.any? %>
                <p>
                  <%= t('advanced_search.type') %>: <%= text_block_pair.collection.types.map(&"name_#{I18n.locale}".to_sym).join(', ') %>
                </p>
              <% end %>
              <% if text_block_pair.collection.genres.any? %>
                <p>
                  <%= t('advanced_search.genre') %>: <%= text_block_pair.collection.genres.map(&"name_#{I18n.locale}".to_sym).join(', ') %>
                </p>
              <% end %>
              <% if text_block_pair.collection.fields.any? %>
                <p>
                  <%= t('advanced_search.field') %>: <%= text_block_pair.collection.fields.map(&"name_#{I18n.locale}".to_sym).join(', ') %>
                </p>
              <% end %>
              <% if text_block_pair.collection.publishings.any? %>
                <p>
                  <%= t('advanced_search.publisher') %>: <%= text_block_pair.collection.publishings.map(&"name_#{I18n.locale}".to_sym).join(', ') %>
                </p>
              <% end %>
              <p>
                <%= t('advanced_search.original_language') %>: <%= text_block_pair.collection.original_language %>
              </p>
              <p>
                <%= t('advanced_search.published_date') %>: <%= text_block_pair.collection.year %>
              </p>
              <p>
                <%= t('advanced_search.translated_date') %>: <%= text_block_pair.collection.translation_year %>
              </p>
            </div>
          </div>
          <div class="inline-flex">
            <div class="flex grid grid-flow-row space-y-4">
              <div class="inline-flex text-justify">
                <span class="highlightable">
                  <%= clean_from_tags(text_block_pair.contents.to_s) %>
                </span>
              </div>
              <div class="inline-flex text-justify">
                <span class="highlightable">
                  <%= clean_from_tags(text_block_pair.en_contents.to_s) %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
