<% text_block_pairs.each_with_index do |text_block_pair, index| %>
  <div class="inline-flex pl-5 pr-10 py-5 rounded-xl bg-white">
    <div class="flex grid grid-flow-col space-x-2 justify-items-end">
      <div class="inline-flex text-gray-400 justify-end w-6">
        <%= index + 1 + text_block_pairs.limit_value * (text_block_pairs.current_page - 1) %>.
      </div>
      <div class"inline-flex">
        <div class="flex grid grid-flow-row space-y-5">
          <div class="inline-flex text-gray-400">
            <%= text_block_pair.collection.group.name_ka %> | <%= text_block_pair.collection.name_ka %>
          </div>
          <div class="inline-flex">
            <div class="flex grid grid-flow-row space-y-4">
              <div class="inline-flex text-justify">
                <span class="highlightable">
                  <%= clean_from_tags(text_block_pair.original_contents) %>
                </span>
              </div>
              <div class="inline-flex text-justify">
                <span class="highlightable">
                  <%= clean_from_tags(text_block_pair.translation_contents) %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
