<%= render 'admin/shared/heading', name: t('admin.genres') %>

<main>
  <div class="mx-auto max-w-screen-2xl sm:px-6 lg:px-8">
    <% crumbs = [] %>
    <% crumbs << { name: t('admin.genres'), url: admin_genres_path(locale: I18n.locale) } %>

    <%= render 'admin/shared/breadcrumbs', crumbs: crumbs %>

    <%= render 'admin/shared/new_button', name: t('admin.add_new_genre'), url: new_admin_genre_path(locale: I18n.locale) %>

    <%= render 'admin/shared/paging', records: @genres, url_method: -> (**params){ admin_genres_path(**params.merge(locale: I18n.locale)) }, paging_params: {}.merge(@search.attributes) %>
    <div class="px-4 sm:px-6 lg:px-8">
      <div class="flow-root">
        <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8">
          <div data-controller="search-highlight" class="inline-block min-w-full py-2 align-middle">
            <%= form_for @search, url: admin_genres_path(locale: I18n.locale), method: :get do |form| %>
              <table class="w-full border-separate border-spacing-0 border-gray-300">
                <thead>

                  <%= render 'admin/shared/table/header',
                             columns: [{ name: 'UID' },
                                       { name: t('table.georgian_name'), classes: 'max-w-[240px]' },
                                       { name: t('table.english_name'), classes: 'max-w-[240px]' },
                                       { name: '' }] %>

                  <%= render 'admin/shared/table/filter',
                             form: form,
                             columns: [{ name: :id, classes: 'max-w-[60px]', input_type: :text_field, input_classes: 'px-2' },
                                       { name: :name_ka, classes: 'max-w-[240px]', input_type: :text_field },
                                       { name: :name_en, classes: 'max-w-[240px]', input_type: :text_field },
                                       { input_type: :submit, classes: 'py-2 text-left text-sm text-gray-500' }] %>


                </thead>
                <tbody data-search-highlight-target="body">
                  <% @genres.each_with_index do |genre, index| %>
                    <%= render 'admin/shared/table/simple_row',
                               record: genre,
                               index: index,
                               columns: { uid: true,
                                          edit_url_method: -> (**params){ edit_admin_genre_path(**params.merge(locale: I18n.locale)) },
                                          edit_url_params: { id: genre.id },
                                          delete_url_method: -> (record){ admin_genre_path(record) },
                                          delete_redirect_url_method: admin_genres_path(locale: I18n.locale),
                                          delete_modal_title: t('delete_genre_modal.title'),
                                          delete_modal_text: t('delete_genre_modal.text'),
                                          name_ka: true,
                                          name_en: true,
                                          edit: true,
                                          delete: true } %>

                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'admin/shared/paging', records: @genres, url_method: -> (**params){ admin_genres_path(**params.merge(locale: I18n.locale)) }, paging_params: {}.merge(@search.attributes) %>

    <%= render 'admin/shared/confirm_delete_modal', modal_title: t('delete_genre_modal.title'),
                                                      modal_text: t('delete_genre_modal.text') %>
  </div>
</main>
