<%= render 'admin/shared/heading', name: t('admin.sub_corpora') %>

<main>
  <div class="mx-auto max-w-screen-2xl sm:px-6 lg:px-8">

    <%= render 'admin/shared/new_button', name: t('admin.add_new_sub_corpora'), url: new_admin_supergroup_path(locale: I18n.locale) %>

    <%= render 'admin/shared/paging', records: @supergroups, url_method: -> (**params){ admin_supergroups_path(**params.merge(locale: I18n.locale)) }, paging_params: {}.merge(@search.attributes) %>
    <div class="px-4 sm:px-6 lg:px-8">
      <div class="flow-root">
        <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8">
          <div data-controller="search-highlight" class="inline-block min-w-full py-2 align-middle">
            <%= form_for @search, url: admin_supergroups_path(locale: I18n.locale), method: :get do |form| %>
              <table class="w-full border-separate border-spacing-0 border-gray-300">
                <thead>

                  <%= render 'admin/shared/table/header',
                             columns: [{ name: 'UID' },
                                       { name: t('table.georgian_name'), classes: 'max-w-[240px]' },
                                       { name: t('table.english_name'), classes: 'max-w-[240px]' },
                                       { name: t('table.status'), classes: 'max-w-[100px]' },
                                       { name: t('table.groups'), classes: 'max-w-[100px]' },
                                       { name: t('table.collections'), classes: 'max-w-[100px]' },
                                       { name: t('table.pairs'), classes: 'max-w-[100px]' },
                                       { name: '', classes: 'max-w-[100px]' }] %>

                  <%= render 'admin/shared/table/filter',
                             form: form,
                             columns: [{ name: :id, classes: 'max-w-[60px]', input_type: :text_field, input_classes: 'px-2' },
                                       { name: :name_ka, classes: 'max-w-[240px]', input_type: :text_field },
                                       { name: :name_en, classes: 'max-w-[240px]', input_type: :text_field },
                                       { name: :status, classes: 'max-w-[100px]', input_type: :enum_select, model: Supergroup },
                                       { content: @groups_count, classes: 'max-w-[100px] py-3.5' },
                                       { content: @collections_count, classes: 'max-w-[100px] py-3.5' },
                                       { content: @text_blocks_count, classes: 'max-w-[100px] py-3.5' },
                                       { input_type: :submit, classes: 'max-w-[100px] py-2 text-left text-sm text-gray-500' }] %>


                </thead>
                <tbody data-search-highlight-target="body">
                  <% @supergroups.each_with_index do |supergroup, index| %>
                    <%= render 'admin/shared/table/row',
                               record: supergroup,
                               index: index,
                               columns: { uid: true,
                                          enter_url_method: -> (**params){ admin_groups_path(**params.merge(locale: I18n.locale)) },
                                          enter_url_params: {  supergroup_id: supergroup.id },
                                          edit_url_method: -> (**params){ edit_admin_supergroup_path(**params.merge(locale: I18n.locale)) },
                                          edit_url_params: {  id: supergroup.id },
                                          name_ka: true,
                                          name_en: true,
                                          status: true,
                                          groups_count: true,
                                          collections_count: true,
                                          text_blocks_count: true,
                                          edit: true,
                                          enter: true } %>

                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'admin/shared/paging', records: @supergroups, url_method: -> (**params){ admin_supergroups_path(**params.merge(locale: I18n.locale)) }, paging_params: {}.merge(@search.attributes) %>
  </div>
</main>
