<%= render partial: "admin/shared/header" %>

<h1>
  <% if @group %>
    <%= link_to @group.supergroup.name_ka, admin_groups_path(:supergroup_id => @group.supergroup.id) %> > <%= @group.name_ka %> >
  <% end %>
  კრებულები
</h1>
<p>
  <%= link_to 'ახალი კრებულის დამატება', new_admin_collection_path %>
</p>
<p>
  მონაცემთა ბაზაში <%= @collections.count %> ჩანაწერია
</p>

<table>
  <thead>
    <th>
    </th>
  </thead>
  <tbody>
    <% @collections.each do |collection| %>
      <tr>
        <td> <%= link_to collection.name_ka, admin_text_blocks_path(:collection_id => collection.id) %> </td>
        <td> <%= link_to collection.name_en, admin_text_blocks_path(:collection_id => collection.id) %> </td>
        <td> <%= collection.status %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
