<%= render 'admin/shared/heading', name: 'ჯგუფები' %>

<main>
  <div class="mx-auto max-w-screen-2xl sm:px-6 lg:px-8">
    <% crumbs = [] %>
    <% if @supergroup %>
      <% crumbs << { name: @supergroup.name_ka, url: admin_groups_path(supergroup_id: @supergroup.id) } %>
    <% end %>

    <%= render 'admin/shared/breadcrumbs', crumbs: crumbs unless crumbs.empty? %>

    <%= render 'admin/shared/new_button', name: 'ახალი ჯგუფის დამატება', url: new_admin_group_path(supergroup_id: @supergroup&.id) %>

    <%= render 'admin/shared/paging', records: @groups, url_method: -> (**params){ admin_groups_path(**params) }, paging_params: { supergroup_id: @supergroup&.id } %>

    <div class="px-4 sm:px-6 lg:px-8">
      <div class="flow-root">
        <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle">
            <%= form_for @search, url: admin_groups_path, method: :get do |form| %>
              <table class="w-full border-separate border-spacing-0">
                <thead>

                  <%= render 'admin/shared/table/header',
                             columns: [{ name: 'UID' },
                                       { name: 'ქვეკორპუსი', classes: 'max-w-[240px]' },
                                       { name: 'დასახელება ქართულად', classes: 'max-w-[240px]' },
                                       { name: 'დასახელება ინგლისურად', classes: 'max-w-[240px]' },
                                       { name: 'სტატუსი' },
                                       { name: 'კრებულები' },
                                       { name: 'წყვილები' },
                                       { name: '' }] %>

                   <%= render 'admin/shared/table/filter',
                              form: form,
                              columns: [{ name: :id, classes: 'max-w-[60px]', input_type: :text_field, input_classes: 'px-2' },
                                        { name: :supergroup_name_ka, classes: 'max-w-[240px]', input_type: :text_field },
                                        { name: :supergroup_id, input_type: :hidden },
                                        { name: :name_ka, classes: 'max-w-[240px]', input_type: :text_field },
                                        { name: :name_en, classes: 'max-w-[240px]', input_type: :text_field },
                                        { name: :status, input_type: :status_select, model: Group },
                                        { content: @collections_count, classes: 'py-3.5' },
                                        { content: @text_blocks_count, classes: 'py-3.5' },
                                        { input_type: :submit, classes: 'py-2 text-left text-sm text-gray-500' }] %>




                </thead>
                <tbody>
                  <% @groups.each_with_index do |group, index| %>
                    <%= render 'admin/shared/table/row',
                               record: group,
                               index: index,
                               columns: [{ type: :text, name: :id, classes: 'font-medium text-gray-900 px-3' },
                                         { type: :link, name: :supergroup_name_ka, url_method: -> (**params){ admin_groups_path(**params) }, url_params: { supergroup_id: group.supergroup_id }, classes: "max-w-[240px] text-gray-500" },
                                         { type: :link, name: :name_ka, url_method: -> (**params){ admin_collections_path(**params) }, url_params: { group_id: group.id }, classes: "max-w-[240px] text-gray-500" },
                                         { type: :link, name: :name_en, url_method: -> (**params){ admin_collections_path(**params) }, url_params: { group_id: group.id }, classes: "max-w-[240px] text-gray-500" },
                                         { type: :text, name: :status, classes: "text-gray-500 px-3" },
                                         { type: :text, name: :collections_count, classes: "text-gray-500 px-3" },
                                         { type: :text, name: :text_blocks_count, classes: "text-gray-500 px-3" },
                                         { type: :links, classes: "font-medium text-gray-500 max-w-[60px]", elements: [{ name: :edit, url_method: -> (**params){ edit_admin_group_path(**params) }, url_params: { id: group.id } },
                                                                                                                       { name: :enter, url_method: -> (**params){ admin_collections_path(**params) }, url_params: { group_id: group.id } }] }] %>


                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'admin/shared/paging', records: @groups, url_method: -> (**params){ admin_groups_path(**params) }, paging_params: { supergroup_id: @supergroup&.id } %>
  </div>
</main>
