<%= render partial: "admin/shared/header" %>

<h1>
  <% if @supergroup %>
    <%= @supergroup.name_ka %> >
  <% end %>
  ჯგუფები
</h1>
<p>
  <%= link_to 'ახალი ჯგუფის დამატება', new_admin_group_path %>
</p>
<p>
  მონაცემთა ბაზაში <%= @groups.count %> ჩანაწერია
</p>

<table>
  <thead>
    <th>
    </th>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td> <%= link_to group.name_ka, admin_collections_path(:group_id => group.id) %> </td>
        <td> <%= link_to group.name_en, admin_collections_path(:group_id => group.id) %> </td>
        <td> <%= group.status %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
