<%= render 'admin/shared/heading', name: 'ტექსტური წყვილები' %>

<main>
  <div class="mx-auto max-w-screen-2xl sm:px-6 lg:px-8">
    <% crumbs = [] %>
    <% if @collection %>
      <% crumbs << { name: @collection.supergroup.name_ka, url: admin_groups_path(supergroup_id: @collection.supergroup.id) } %>
      <% crumbs << { name: @collection.group.name_ka, url: admin_collections_path(group_id: @collection.group.id) } %>
      <% crumbs << { name: @collection.name_ka, url: admin_text_blocks_path(collection_id: @collection.id) } %>
    <% end %>

    <%= render 'admin/shared/breadcrumbs', crumbs: crumbs unless crumbs.empty? %>

    <%= render 'admin/shared/new_button', name: 'ახალი ტექსტური წყვილის დამატება', url: new_admin_text_block_path %>

    <%= render 'admin/shared/paging', records: @text_blocks, url_method: -> (**params){ admin_text_blocks_path(**params) }, paging_params: { collection_id: @collection&.id } %>
    <div class="px-4 sm:px-6 lg:px-8">
      <div class="flow-root">
        <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle">
            <%= form_for @search, url: admin_text_blocks_path, method: :get do |form| %>
              <table class="w-full border-separate border-spacing-0">
                <thead>
                  <%= render 'admin/shared/table/header',
                             columns: [{ name: 'UID' },
                                       { name: 'ქართული წინადადება', classes: 'max-w-[240px]' },
                                       { name: 'ინგლისური წინადადება', classes: 'max-w-[240px]' },
                                       { name: '' }] %>

                  <%= render 'admin/shared/table/filter',
                            form: form,
                            columns: [{ name: :original_id, classes: 'max-w-[60px]', input_type: :text_field, input_classes: 'px-2' },
                                      { name: :original_contents, classes: 'max-w-[240px]', input_type: :text_field },
                                      { name: :translation_contents, classes: 'max-w-[240px]', input_type: :text_field },
                                      { input_type: :submit, classes: 'py-2 text-left text-sm text-gray-500' }] %>
                </thead>
                <tbody>
                  <% @text_blocks.each_with_index do |text_block, index| %>
                    <%= render 'admin/shared/table/row',
                               record: text_block,
                               index: index,
                               columns: [{ type: :text, name: :original_id, classes: 'font-medium text-gray-900 py-4 px-3' },
                                         { type: :text, name: :original_contents, classes: "max-w-[240px] hover:!overflow-auto scrollbar-hide text-gray-500 py-4 px-3" },
                                         { type: :text, name: :translation_contents, classes: "max-w-[240px] hover:!overflow-auto scrollbar-hide text-gray-500 py-4 px-3" },
                                         { type: :link, name: :edit, url_method: -> (**params){ edit_admin_text_block_path(**params) }, url_params: { id: text_block.original_id }, classes: "font-medium text-gray-500" }] %>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'admin/shared/paging', records: @text_blocks, url_method: -> (**params){ admin_text_blocks_path(**params) }, paging_params: { collection_id: @collection&.id } %>
  </div>
</main>
