<%= render 'admin/shared/heading', name: 'ტექსტური წყვილები' %>

<main>
  <div class="mx-auto max-w-screen-2xl sm:px-6 lg:px-8">
    <% crumbs = [] %>
    <% if @collection %>
      <% crumbs << { name: @collection.supergroup.name_ka, url: admin_groups_path(supergroup_id: @collection.supergroup.id) } %>
      <% crumbs << { name: @collection.group.name_ka, url: admin_collections_path(group_id: @collection.group.id) } %>
      <% crumbs << { name: @collection.name_ka, url: admin_text_blocks_path(collection_id: @collection.id) } %>
    <% end %>

    <%= render 'admin/shared/breadcrumbs', crumbs: crumbs unless crumbs.empty? %>

    <% if @collection %>
      <% if @text_blocks.empty? %>
        <%= render 'admin/shared/new_button', name: 'ახალი ტექსტური წყვილების დამატება', url: new_text_blocks_admin_collection_path(id: @collection.id) %>
      <% else %>
        <%= render 'admin/shared/new_button', name: 'ტექსტური წყვილების რედაქტირება', url: edit_multiple_admin_text_blocks_path(collection_id: @collection.id) %>
      <% end %>

      <div class="mt-4 flex grid grid-flow-col space-x-4 max-w-40">
        <%= link_to export_admin_text_blocks_path(collection_id: @collection.id, format: :xlsx), class: "inline-flex justify-center bg-gray-50 text-gray-700 rounded-md ring-1 ring-gray-300 p-1 hover:ring-2 hover:ring-oceanside-500 hover:bg-white hover:text-gray-900" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
          </svg>
          .xlsx
        <% end %>

        <%= link_to export_admin_text_blocks_path(collection_id: @collection.id, language: :ka, format: :docx), class: "inline-flex justify-center bg-gray-50 text-gray-700 rounded-md ring-1 ring-gray-300 p-1 hover:ring-2 hover:ring-oceanside-500 hover:bg-white hover:text-gray-900" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
          </svg>
          ka.docx
        <% end %>

        <%= link_to export_admin_text_blocks_path(collection_id: @collection.id, language: :en, format: :docx), class: "inline-flex justify-center bg-gray-50 text-gray-700 rounded-md ring-1 ring-gray-300 p-1 hover:ring-2 hover:ring-oceanside-500 hover:bg-white hover:text-gray-900" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
          </svg>
          en.docx
        <% end %>
      </div>

    <% end %>

    <%= render 'admin/shared/paging', records: @text_blocks, url_method: -> (**params){ admin_text_blocks_path(**params) }, paging_params: { collection_id: @collection&.id } %>
    <div class="px-4 sm:px-6 lg:px-8">
      <div class="flow-root">
        <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle">
            <%= form_for @search, url: admin_text_blocks_path, method: :get do |form| %>
              <table class="w-full border-separate border-spacing-0">
                <thead>
                  <%= render 'admin/shared/table/header',
                             columns: [{ name: 'UID' },
                                       { name: 'ქართული წინადადება', classes: 'max-w-[240px]' },
                                       { name: 'ინგლისური წინადადება', classes: 'max-w-[240px]' },
                                       { name: '' }] %>

                  <%= render 'admin/shared/table/filter',
                            form: form,
                            columns: [{ name: :original_id, classes: 'max-w-[60px]', input_type: :text_field, input_classes: 'px-2' },
                                      { name: :original_contents, classes: 'max-w-[240px]', input_type: :text_field },
                                      { name: :translation_contents, classes: 'max-w-[240px]', input_type: :text_field },
                                      { input_type: :submit, classes: 'py-2 text-left text-sm text-gray-500' }] %>
                </thead>
                <tbody>
                  <% @text_blocks.each_with_index do |text_block, index| %>
                    <%= render 'admin/shared/table/row',
                               record: text_block,
                               index: index,
                               columns: [{ type: :text, name: :original_id, classes: 'font-medium text-gray-900 py-4 px-3' },
                                         { type: :text, name: :original_contents, classes: "max-w-[240px] hover:!overflow-auto scrollbar-hide text-gray-500 py-4 px-3" },
                                         { type: :text, name: :translation_contents, classes: "max-w-[240px] hover:!overflow-auto scrollbar-hide text-gray-500 py-4 px-3" },
                                         { type: :link, name: :edit, url_method: -> (**params){ edit_admin_text_block_path(**params) }, url_params: { id: text_block.original_id }, classes: "font-medium text-gray-500" }] %>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'admin/shared/paging', records: @text_blocks, url_method: -> (**params){ admin_text_blocks_path(**params) }, paging_params: { collection_id: @collection&.id } %>
  </div>
</main>
