<%= form_with model: [:admin, record], url: url, method: method do |form| %>

  <%= render 'admin/shared/form_errors', record: record %>

  <div class="mt-8 flex justify-stretch grid grid-cols-3 grid-flow-col max-w-3xl">
    <div class="bg-mountbatten-100 px-3 col-span-1 rounded-tl-md ring-2 ring-mountbatten-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:py-3">
        <%= form.label :name_ka, 'სახელი (ka)', class: "block text-sm font-medium leading-6 text-gray-900 sm:py-1.5" %>
      </div>
    </div>
    <div class="bg-gray-100 px-3 col-span-2 rounded-tr-md ring-2 ring-gray-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:items-start sm:divide-x sm:gap-4 sm:py-3 w-full">
        <div class="mt-2 sm:mt-0 w-full">
          <%= form.text_field :name_ka, required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-oceanside-500 focus:border-oceanside-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-oceanside-500 dark:focus:border-oceanside-500" %>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-stretch grid grid-cols-3 grid-flow-col max-w-3xl">
    <div class="bg-mountbatten-100 px-3 col-span-1 rounded-bl-md ring-2 ring-mountbatten-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:py-3">
        <%= form.label :name_en, 'სახელი (en)', class: "block text-sm font-medium leading-6 text-gray-900 sm:py-1.5" %>
      </div>
    </div>
    <div class="bg-gray-100 px-3 col-span-2 rounded-br-md ring-2 ring-gray-500 space-y-12 sm:space-y-16 inline-flex">
      <div class="sm:items-start sm:divide-x sm:gap-4 sm:py-3 w-full">
        <div class="mt-2 sm:mt-0 w-full">
          <%= form.text_field :name_en, required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-oceanside-500 focus:border-oceanside-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-oceanside-500 dark:focus:border-oceanside-500" %>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-6 flex justify-stretch grid grid-flow-col gap-x-6 max-w-3xl">
    <%= link_to 'უკან დაბრუნება', back_url, type: "button", class: "inline-flex justify-center rounded-md bg-gray-200 ring-2 ring-gray-500 px-3 py-2 text-sm font-semibold text-gray-700 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-200" %>
    <!-- <button type="button" class="inline-flex justify-center rounded-md bg-gray-200 ring-2 ring-gray-500 px-3 py-2 text-sm font-semibold text-gray-700 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-200">უარყოფა</button> -->
    <% if (current_user.admin? || current_user.superadmin?) && record.persisted? %>
      <button type="button"
              data-controller="delete-record"
              data-delete-record-url-value="<%= delete_url.call(record) %>"
              data-delete-record-redirect-url-value="<%= back_url %>"
              data-action="click->delete-record#submit"
              class="inline-flex justify-center rounded-md bg-gray-500 ring-2 ring-gray-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">
        წაშლა
      </button>
    <% end %>
    <button type="submit" class="inline-flex justify-center rounded-md bg-mountbatten-500 ring-2 ring-mountbatten-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-mountbatten-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-mountbatten-500">შენახვა</button>
  </div>
<% end %>
