<!--
  This example requires updating your template:


  <html class="h-full">
  <body class="h-full">

-->

<nav class="border-b border-gray-200 bg-white">
  <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-24 justify-between">
      <div class="flex">
        <div class="-mr-2 ml-6 mt-4">
          <div class="p-4 inline-flex items-center rounded-md ring-2 ring-mountbatten-500 ring-offset-2">
            <svg class="block h-12 w-12" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">

            </svg>
          </div>
          <div class="mx-auto h-full inline-block align-middle items-center px-4 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900">ინგლისურ-ქართული პარალელური კორპუსი</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between">
      <div class="flex">
        <div class="hidden sm:-my-px sm:flex sm:space-x-8">
          <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
          <%= header_link('ქვეკორპუსები', admin_supergroups_path) %>
          <%= header_link('ჯგუფები', admin_groups_path) %>
          <%= header_link('კრებულები', admin_collections_path) %>
          <%= header_link('ტექსტური წყვილები', admin_text_blocks_path) %>
        </div>
      </div>
      <div class="flex">
        <div class="hidden sm:-my-px sm:flex sm:space-x-8">
          <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
          <%= header_link('ავტორები', admin_authors_path) %>
          <%= header_link('მთარგმნელები', admin_translators_path) %>
          <%= header_link('ტიპები', admin_types_path) %>
          <%= header_link('ჟანრები', admin_genres_path) %>
          <%= header_link('დარგები', admin_fields_path) %>
          <%= header_link('გამომცემლობები', admin_publishings_path) %>
        </div>
        <button type="button" class="relative inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-mountbatten-500 focus:ring-offset-2" aria-controls="mobile-menu" aria-expanded="false">
          <!-- Menu open: "hidden", Menu closed: "block" -->
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!-- Menu open: "block", Menu closed: "hidden" -->
          <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
        <div class="hidden sm:-my-px sm:flex sm:space-x-8">
          <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
          <%= link_to destroy_user_session_path, class: header_link_classes(destroy_user_session_path), 'data-turbo-method': :delete do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
            </svg>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 pb-3 pt-2">
      <!-- Current: "border-indigo-500 bg-indigo-50 text-indigo-700", Default: "border-transparent text-gray-600 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-800" -->
      <%= header_link('ქვეკორპუსები', admin_supergroups_path, mobile: true) %>
      <%= header_link('ჯგუფები', admin_groups_path, mobile: true) %>
      <%= header_link('კრებულები', admin_collections_path, mobile: true) %>
      <%= header_link('ტექსტური წყვილები', admin_text_blocks_path, mobile: true) %>
    </div>

  </div>
</nav>
