<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= t("app.title") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('logo.svg') %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
    <!-- <main class="container mx-auto px-5"> -->
      <div class="min-h-full">
        <%= render "admin/shared/header" %>
        <div class="py-10">
          <%= yield %>
        </div>
      </div>
    <!-- </main> -->
  </body>
</html>
